body {
    width: 100vw;
    height: 100vh;
    
    background-color:#55A2E3;
}

 .retangulo {
  
width: 100vw;
height: 100vh;
background-color:#55A2E3;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
} 

.retangulo2 {
    width: 342px;
    height: 461px;
    left: 789px;
    top: 149px;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: #0082F0;
    box-shadow: 0px 0px 10px;
}

.retangulo2 img {
    padding-right: 80px;
    padding-block-end: 65px;
}

.content {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 342px;
    height: 461px;
    box-shadow: 0px 0px 10px;
    background: rgb(255, 255, 255);
}

.form_login {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 80px;
}



.content h1 {
    text-align: center;
    font-size: 44px;
    color: #000000;
}

.form_login input {
    margin-bottom: 20px;
    width: 267px;
    height: 35px;
    left: 826px;
    top: 344px;
    box-sizing: border-box;
    background: #0082F0;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(0, 0, 0);
    border-image: initial;
    box-shadow: 0px 0px 5px;
}

.form_login button {
    
    border-width: 1px;
    border-style: solid;
    width: 100px;
    height: 30px;
    color: white;
    cursor: pointer;
    position: relative;
    top: 5px;
    left: 83px;
    background: #0082F0;
    box-shadow: 0px 0px 5px;
    border-color: rgb(0, 0, 0);
    
    
}


    textarea::placeholder {
        color: rgb(255, 255, 255);
      }
    
      input::placeholder {
        color: rgb(255, 255, 255);
      }